.header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height:8vh
}
.headerMiddle{
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.instagram{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger{
    display: none;
}
.headerMenu{
    position: fixed;
    top:0;
    right:0;
    width: 60vw;
    height: 100vh;
    background-color: black;
    margin: auto;
    /* z-index: 2; */
}

.instagramI{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px) {
 .headerMiddle{
    display: none;
 }   
 .logIn{
    display: none;
 }
 .instagram{
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagramI{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger{
    display: block;
    margin-left: 15px;
    display: flex;
  justify-content: center;
  align-items: center;
  gap:15px
}
.menuC{
    margin-top: 30px;
    /* direction: rtl; */
    margin-right: 40px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:10px
}
}