.trainersHome{
    max-width: 90vw;
    margin: auto;
    padding: 0px 0px 20px 0px;
    gap:10px;
        display: flex;
        overflow-x: scroll;
}

.parag{
text-align: center;
color: yellow;
margin-top: 70px ;
}
.imgAndText{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .trainersHome{
        margin: auto;
        max-width: 95vw;
        gap:10px;
            display: flex;
            overflow-x: scroll;
    }
    .parag{
        text-align: center;
        color: yellow;
        margin-top:0px ;
        }
    
}